header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1976D2;
    height: 56px;
    min-height: 56px;
    padding: 0;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.24);
    color: white;
}

header img {
    width: 50px;
}

header h1 {
    margin: 0 0 0 10px;
    font-weight: 400;
}

main {
    height: calc(100% - 56px);
    display: flex;
    padding: 2rem;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin: auto;
}

.game-inventory {
    display: flex;
    justify-content: center;
}
.inventory {
    width: 467px;
    height: 435px;
    background: url(../img/inventory.jpg) no-repeat;
    display: flex;
    justify-content: center;
    position: relative;
}
.attributes {
    width: 166px;
    height: 370px;
    border: 1px dotted green;
    position: absolute;
    left: 20px;
    top: 50px;
}
.values {
    width: 154px;
    height: 310px;
    padding: 5px;
    border: 1px dotted blue;
    color: gold;
    background-color: #362416;
    position: absolute;
    left: 6px;
    top: 6px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
}
.values div {
    align-self: inherit;
}
.title {
    align-self: center;
}
.values button {
    border: 1px dotted gold;
}
.value{
    border: 1px dotted green;
}
.corpus {
    width: 260px;
    height: 370px;
    border: 1px dotted red;
    position: absolute;
    left: 186px;
    top: 50px;
}
.backpack {
    width: 270px;
    height: 540px;
    display: flex;
    flex-flow: row wrap;
}
.backpack .cell {
    width: 54px;
    height: 54px;
    background: url(../img/icons.jpg) repeat;
    background-position: -162px -540px;
}

.cell.background {

}
